Flask~=3.0.2
Flask-Login
Flask-SQLAlchemy
flask-mysqldb
bcrypt
gunicorn
itsdangerous
Jinja2
MarkupSafe
SQLAlchemy
Werkzeug~=3.0.1
setuptools
wheel
honcho
mysql-connector-python~=8.3.0
pymysql
cryptography
wtforms

