<!DOCTYPE html>
<html>
<head>
<!--	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename="bootstrap.min.css")}}">-->
<!--	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename="style.css")}}">-->
<!--	<title>{{ config.SITE_NAME }}</title>-->
</head>
<body>
<!--<div class="page">-->
<!--	<div class="header">-->
<!--		{% include 'header.html' %}-->
<!--	</div>-->
<!--	{% if errors %}-->
<!--	<div class="errors">-->
<!--	{% for error in errors %}-->
<!--		<p class="error">-->
<!--			{{ error }}-->
<!--		</p>-->

<!--	{% endfor %}-->
<!--	</div>-->
<!--{% endif %}-->
<!--	<div class="content">-->
<!--{% block body %} -->
<h1>ABOUT GROOVE GATHERING </h1><br>

<h2><li>Additional content goes here</li></h2>

<!--<h2><a href="Creating_a_Chat_App_With_Flask-SocketIO/flask_socketio_chat/chatapp/templates/chatter.html" target="_blank"> CLICK HERE TO GO TO OUR CHATTER PAGE.</a>-->

<!--{% endblock %}-->
</body>
</html>
