{% extends 'base.html' %}
{% block content %}
    <h1 class="blogheader"> Syncopation Station </h1>
    {%for post in posts%}
        <div class="blog-link">
            <a href="{{ url_for('blog.post', post_id=post.id) }}">
            <div class="blogpost">
                 <h2>{{ post.title }}</h2>
                    {{post.content}}
            </div>
            </a>
        </div>
<br>

        <span class="badge badge-primary">{{ post.created }}</span>
	<a href="{{ url_for('blog.edit', post_id=post.id) }}">

            <span class="badge badge-warning">Edit</span>
        </a>
<br><br>
    {%endfor%}
        <hr>

{% endblock %}