{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} welcome to FlaskBlog {% endblock %}</h1>
<h1>What the hecK!</h1>
	{% for post in blogposts %}
	<div class="post">
		<div class="posttitle">
		<a href="/viewpost?post={{ post.id }}">{{ post.title }}</a>
		</div>
        <span class="badge badge-primary">{{ post['created'] }}</span>
	<a href="{{ url_for('edit', id=post['id']) }}">
            <span class="badge badge-warning">Edit</span>
        </a>
    </div>
 <hr>
     {% endfor %}
 {% endblock %}
<!--        <hr>-->