<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename="bootstrap.min.css")}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename="style.css")}}">
	<title>{{ config.SITE_NAME }}</title>
</head>
<body>
<div class="page">
	<div class="header">
		{% include 'header.html' %}
	</div>
	{% if errors %}
	<div class="errors">
	{% for error in errors %}
		<p class="error">
			{{ error }}
		</p>

	{% endfor %}
	</div>
{% endif %}
	<div class="content">
		{% block body %}<h2>USE OUR CHATTER TOOL - YOU CAN: <br>
		<ol>Pick your username</ol>
		<ol>Chat in real time with others who are also online.</ol>
		<br>
		<a href="http://127.0.0.1:5000/chatter" target="_blank">#1. CLICK HERE TO OPEN CHATTER (Person #1) IN A NEW TAB </a>
		<br>
		<a href=http://127.0.0.1:5000/chatter target="_blank">#2. CLICK HERE TO OPEN THE CHATTER (Person #2) IN A SECOND TAB </a>
		<br>
		#3. Please use the tabs to "talk" back to yourself between tabs if no one else is online</h2>
		<h3>
		<li>	(actually no one else will be in this prototype so please humor all of us + open BOTH tabs, thank you!</li></h3>

	</div>
</div>

</body>

{% extends 'layout.html' %}
{% block body %}
{% endblock %}




<div class="footer">
		{% include 'footer.html' %}
	</div>
</html>
