<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename="bootstrap.min.css")}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename="style.css")}}">
	<title>{{ config.SITE_NAME }}</title>
</head>
<body>
<div class="page">
	<div class="header">
		{% include 'header.html' %}
	</div>
	{% if errors %}
	<div class="errors">
	{% for error in errors %}
		<p class="error">
			{{ error }}
		</p>

	{% endfor %}
	</div>
{% endif %}
	<div class="content">
		{% block body %}Enjoy our Chat/Messaging tool! <br>
		In this tool you can: <br>
		<li>Pick your username</li>
		<li>Chat in real time with others who are also online.</li>
		<br>
		<li><a href="http://127.0.0.1:5000/chatter" target="_blank">#1. CLICK HERE TO OPEN CHATTER (Person #1) IN A NEW TAB </a> </li>
		<br>
		<li><a href=http://127.0.0.1:5000/chatter target="_blank">#2. CLICK HERE TO OPEN THE CHATTER (Person #2) IN A SECOND TAB </a> </li>
		<br>
		<li>#3. Please use the tabs to "talk" back to yourself if no one else is online</li>
			<br>
			<br>
		<li>	(no one will be in this test prototype so please humor all of us and open both tabs, thank you!</li>


	{% endblock %}
	</div>
</div>
</body>

{% extends 'layout.html' %}
{% block body %}

</div>

{% endblock %}


</html>
