<!DOCTYPE html>
<html lang="en">


<footer>
  <div class="container">
    <div class="row">
      <!-- First Column: About Us Section -->
      <div class="col-md-6">
        <div class="row align-items-center projects">
          <div class="col">
            <h3>About</h3>
            <h5><p>Groove Gathering is an inclusive, supportive springboard for social dancers</p></h5>
          <h5><p>in the MidAtlantic region of the US to share beautiful experiences.</p></h5>
          </div>
        </div>
      </div>

      <!-- Second Column: Existing Contact Us Details -->
      <div class="col-md-6">
        <div class="row align-items-center projects">
          <div class="col">
            <h3>Contact us</h3>
            <h5><p>zipcode students@zipcodewilmington.com</p></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>



</html>