<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename="bootstrap.min.css")}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename="style.css")}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<title>{{ config.SITE_NAME }}</title>
</head>
<body>
<div class="page">


	<div class="header">
		{% include 'header.html' %}
	</div>
	{% if errors %}
	<div class="errors">
	{% for error in errors %}
		<p class="error">
			{{ error }}
		</p>

	{% endfor %}
	</div>
{% endif %}

    <!-- my code starts here -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>


      </ul>
         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% if not current_user.is_authenticated %}
            <li><a class="dropdown-item" href="/loginform">Login</a></li>
              {% else %}
              <li><a class="dropdown-item" href="#">Logout</a></li>
              {% endif %}
              {% if not current_user.is_authenticated %}
            <li><a class="dropdown-item" href="/loginform">Sign-up</a></li>
              {% endif %}
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Admin</a></li>
          </ul>
        </li>



    </div>
  </div>
</nav>
	<!-- code end here -->


	<div class="content">
		{% block body %}

        {% endblock %}
	</div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>





<div class="footer">
		{% include 'footer.html' %}
	</div>

</body>


</html>

