<!--<!DOCTYPE html>-->
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename="bootstrap.min.css")}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename="style.css")}}">
	<title>{{ config.SITE_NAME }}</title>
</head>
<body>
<!--<div class="page">-->
<!--	<div class="header">-->
<!--		{% include 'header.html' %}-->
<!--	</div>-->
<!--	{% if errors %}-->
<!--	<div class="errors">-->
<!--	{% for error in errors %}-->
<!--		<p class="error">-->
<!--			{{ error }}-->
<!--		</p>-->

<!--	{% endfor %}-->
<!--	</div>-->
<!--{% endif %}-->
<!--{% block body %}-->
	<div class="content">
		 USER SETTINGS - GROOVE GATHERING <br>
		<li>USER SETTINGS (WHY NOT? I WILL STICK 'EM RIGHT HERE)</li>

		HERE ARE THE USER SETTINGS LINKS:<br>

		<li>USER_REGISTER_URL = '/user/register'
		</li>
		<li>USER_CHANGE_PASSWORD_URL = '/user/change-password'
		</li>
		<li>USER_CHANGE_USERNAME_URL = '/user/change-username'
		</li>

<!--If you don't remember password-->
		<li>USER_RESET_PASSWORD_URL = '/user/reset-password/TOKEN'
		</li>

<!--<h2><a href="Creating_a_Chat_App_With_Flask-SocketIO/flask_socketio_chat/chatapp/templates/chatter.html" target="_blank"> CLICK HERE TO GO TO OUR CHATTER PAGE.</a>-->
<!--{% extends 'layout.html' %}-->
<!--{% block body %}-->

<div class="user_settings_box">
	<h3>User Register</h3>
	<!-- '/user/register'-->
	<form action="/action_user_settings" method="POST">
	<input class="userelement" type="text" placeholder="User Register" name="user_register"><br>
	<input class="userelement" type="password" placeholder="User Register" name="user_register"><br>
	<input class="userelement" type="submit" value="User Register">
	</form>

</div>
<br><br>
<div class="user_settings_box">
	<h3>Change Password</h3>
	<!-- '/user/change-password'-->
	<form action="/action_user_settings" method="POST">
	<input class="userelement" type="text" placeholder="Change password" name="change_password"><br>
	<input class="userelement" type="password" placeholder="New Password" name="new_password"><br>
	<input class="userelement" type="submit" value="Change Password">
	</form>

</div>
<br><br>
<div class="user_settings_box">
	<h3>Reset Password</h3>
	<!-- '/user/reset-password/TOKEN'-->
	<form action="/action_user_settings" method="POST">
	<input class="loginelement" type="text" placeholder="Reset Password" name="reset_password"><br>
	<input class="loginelement" type="password" placeholder="Reset Password" name="reset_password"><br>
	<input class="loginelement" type="submit" value="Reset Password">
	</form>

</div>
<br><br>
<div class="user_settings_box">
	<h3>Change Username</h3>
	<!-- '/user/change-username'-->
	<form action="/action_user_settings" method="POST">
	<input class="loginelement" type="text" placeholder="Change Username" name="change_username"><br>
	<input class="loginelement" type="text" placeholder="Change Username" name="change_username"><br>
	<input class="loginelement" type="submit" value="Change Username">
	</form>
</div>
</body>
<!--{% endblock %}-->
</html>
